/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
/*
 * Monochrome colors
 */
/*
 * Text elements
 */
/*
 * Generic border color for consistency
 */
/* FONT-SIZE
========================================================================== */
/*
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 *
 * Basically what this does is add font size (in rems) and if no line-height is declared
 * in the style you are creating, this mixin will create one that matches the
 * line-height applied to the body.
 */
/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
/*
 * Monochrome colors
 */
/*
 * Text elements
 */
/*
 * Generic border color for consistency
 */
/* FONT-SIZE
========================================================================== */
/*
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 *
 * Basically what this does is add font size (in rems) and if no line-height is declared
 * in the style you are creating, this mixin will create one that matches the
 * line-height applied to the body.
 */
/*fonts*/
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
.contactFeature {
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .contactFeature a {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding-top: 48px; }
  .contactFeature h2 {
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    color: #525252;
    font-weight: 600px;
    margin: 0;
    font-size: 50px;
    font-size: 3.125rem;
    line-height: 1.44; }
  .contactFeature input {
    width: 25%;
    min-width: 280px;
    margin: 0 auto;
    background: transparent;
    border: 4px solid #6699cc;
    border-radius: 5px;
    margin-top: 48px;
    -webkit-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
    color: #6699cc;
    letter-spacing: 5px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.6;
    font-weight: bold;
    margin: 6px 0; }
    .contactFeature input:hover {
      background: #6699cc;
      color: #fff;
      cursor: pointer; }

@media (min-width: 1px) and (max-width: 1250px) {
  .contactFeature h2 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.71429; }
  .contactFeature button {
    width: 25%;
    min-width: 250px; } }
