/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
/*
 * Monochrome colors
 */
/*
 * Text elements
 */
/*
 * Generic border color for consistency
 */
/* FONT-SIZE
========================================================================== */
/*
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 *
 * Basically what this does is add font size (in rems) and if no line-height is declared
 * in the style you are creating, this mixin will create one that matches the
 * line-height applied to the body.
 */
/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
/*
 * Monochrome colors
 */
/*
 * Text elements
 */
/*
 * Generic border color for consistency
 */
/* FONT-SIZE
========================================================================== */
/*
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 *
 * Basically what this does is add font size (in rems) and if no line-height is declared
 * in the style you are creating, this mixin will create one that matches the
 * line-height applied to the body.
 */
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
.footer {
  background: url("/images/footerbg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 55px 0; }
  .footer .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .footer-nav ul {
      margin: 0;
      padding-top: 12px; }
      .footer .footer-nav ul li {
        display: inline-block;
        position: relative;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 1.2;
        font-weight: 400;
        color: #000;
        cursor: pointer; }
        .footer .footer-nav ul li:hover {
          color: #f48c58; }
      .footer .footer-nav ul li:after {
        content: " |"; }
      .footer .footer-nav ul li:last-child:after {
        content: ''; }

@media (min-width: 1px) and (max-width: 768px) {
  .footer .footer-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer .footer-nav ul {
      padding: 0; }
      .footer .footer-nav ul li {
        font-size: 17px;
        font-size: 1.0625rem;
        line-height: 1.41176; } }
