/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
/*
 * Monochrome colors
 */
/*
 * Text elements
 */
/*
 * Generic border color for consistency
 */
/* FONT-SIZE
========================================================================== */
/*
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 *
 * Basically what this does is add font size (in rems) and if no line-height is declared
 * in the style you are creating, this mixin will create one that matches the
 * line-height applied to the body.
 */
/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
/*
 * Monochrome colors
 */
/*
 * Text elements
 */
/*
 * Generic border color for consistency
 */
/* FONT-SIZE
========================================================================== */
/*
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 *
 * Basically what this does is add font size (in rems) and if no line-height is declared
 * in the style you are creating, this mixin will create one that matches the
 * line-height applied to the body.
 */
.form-wrapper {
  background: #f1f1f1; }
  .form-wrapper .container form {
    text-align: center;
    margin: 0;
    padding-bottom: 48px; }
    @media (min-width: 1px) and (max-width: 768px) {
      .form-wrapper .container form p {
        margin: 0 0; } }
    .form-wrapper .container form input {
      padding: 8px 250px 8px 12px;
      border: 1px solid #d6e1e5;
      font-size: 1rem;
      color: #808080;
      margin: 0 12px; }
      @media (min-width: 1px) and (max-width: 768px) {
        .form-wrapper .container form input {
          margin: 6px 0; } }
    .form-wrapper .container form textarea {
      padding: 48px 0;
      border: 1px solid #d6e1e5;
      width: 79%; }
    .form-wrapper .container form input[type="submit"] {
      padding: 12px;
      background: orange;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      -webkit-transition: background-color .5s;
      transition: background-color .5s;
      margin: 24px 0 0 0; }
      .form-wrapper .container form input[type="submit"]:hover {
        background-color: #FF8C00; }
  .form-wrapper .container .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 0 70px 0; }
    .form-wrapper .container .contact-wrapper .contact-block {
      text-align: center;
      padding: 0 30px;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%; }
      .form-wrapper .container .contact-wrapper .contact-block hr {
        margin: 12px auto; }
      .form-wrapper .container .contact-wrapper .contact-block p {
        margin: 0; }
