/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
/*
 * Monochrome colors
 */
/*
 * Text elements
 */
/*
 * Generic border color for consistency
 */
/* FONT-SIZE
========================================================================== */
/*
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 *
 * Basically what this does is add font size (in rems) and if no line-height is declared
 * in the style you are creating, this mixin will create one that matches the
 * line-height applied to the body.
 */
/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
/*
 * Monochrome colors
 */
/*
 * Text elements
 */
/*
 * Generic border color for consistency
 */
/* FONT-SIZE
========================================================================== */
/*
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 *
 * Basically what this does is add font size (in rems) and if no line-height is declared
 * in the style you are creating, this mixin will create one that matches the
 * line-height applied to the body.
 */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
#header {
  background: url(/images/bg.gif);
  background-repeat: repeat;
  background-position: right, left;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; }
  #header #logo {
    padding: 0;
    width: 30%;
    position: relative;
    float: left;
    padding: 15px 0 0 0;
    font-size: 30px;
    font-family: 'Ropa Sans', sans-serif; }
    #header #logo #logo-image {
      visibility: visible;
      -webkit-transition: all .5s;
      transition: all .5s;
      position: absolute;
      padding: 0; }
    #header #logo #logo-image2 {
      visibility: hidden;
      -webkit-transition: all .5s;
      transition: all .5s;
      position: absolute; }

.spacer {
  width: 100%;
  height: 154px; }

/*mainNav*/
#mainNav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 48px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all .5s;
  transition: all .5s;
  padding-bottom: 30px; }
  #mainNav span {
    color: orange;
    top: 4px;
    position: relative; }
  #mainNav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding-left: 32%; }
    #mainNav .container .level0 a {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 1.33333;
      background-color: #6699cc;
      color: #fff;
      padding: 3px 24px 3px 6px;
      border-radius: 3px; }
      #mainNav .container .level0 a:after {
        content: url("/images/login.svg");
        width: 15%;
        position: absolute;
        padding-left: 3px;
        top: 2.5px; }
    #mainNav .container .level1 a {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1; }
    #mainNav .container ul {
      display: block;
      float: right;
      text-align: right;
      margin: 0;
      padding-top: 12px; }
      #mainNav .container ul > li {
        display: inline-block;
        position: relative; }
        #mainNav .container ul > li > a {
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 20px;
          font-size: 1.25rem;
          line-height: 1.2;
          color: #4d7399;
          line-height: 1;
          font-weight: 500;
          text-decoration: none;
          padding: 6px;
          -webkit-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
          border-radius: 3px; }
        #mainNav .container ul > li:hover > a {
          background: #6699CC none;
          color: #fff; }
      #mainNav .container ul ul.level2 {
        visibility: hidden;
        min-width: 210px;
        background: #fff none;
        padding: 10px 0;
        max-height: 0;
        -webkit-transition: max-height 0.15s ease-out;
        transition: max-height 0.15s ease-out;
        position: absolute;
        top: 100%;
        border-top: 3px solid #6699CC;
        /* box-shadow: 10px 10px 5px #888888;*/ }
        #mainNav .container ul ul.level2 li {
          width: 100%; }
          #mainNav .container ul ul.level2 li a {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #000;
            padding: 3px 15px;
            display: block;
            -webkit-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
            background: transparent none;
            width: 100%;
            text-align: left; }
            #mainNav .container ul ul.level2 li a:hover {
              background: #0069AC none;
              color: #fff; }
      #mainNav .container ul > li:hover > ul.level2 {
        visibility: visible;
        max-height: none; }

.hamburger {
  display: none; }

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s .sidenav a;
    transition: 0.3s .sidenav a; }
    .sidenav a :hover {
      color: #f1f1f1; }

#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s; }

@media (min-width: 1px) and (max-width: 1250px) {
  #header {
    padding: 6px 0; }
    #header #logo {
      padding-left: 12px; }
      #header #logo #logo-image {
        width: 100%;
        padding-top: 12px;
        min-width: 287px;
        opacity: 1; }
      #header #logo #logo-image2 {
        width: 100%;
        padding-top: 12px;
        display: none;
        min-width: 105px; }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 48px 12px; }
    .hamburger img {
      min-width: 60px;
      max-width: 56px;
      border: 2px solid #6699cc; }
  #mainNav {
    display: none; } }
