/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
/*
 * Monochrome colors
 */
/*
 * Text elements
 */
/*
 * Generic border color for consistency
 */
/* FONT-SIZE
========================================================================== */
/*
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 *
 * Basically what this does is add font size (in rems) and if no line-height is declared
 * in the style you are creating, this mixin will create one that matches the
 * line-height applied to the body.
 */
/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
/*
 * Monochrome colors
 */
/*
 * Text elements
 */
/*
 * Generic border color for consistency
 */
/* FONT-SIZE
========================================================================== */
/*
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 *
 * Basically what this does is add font size (in rems) and if no line-height is declared
 * in the style you are creating, this mixin will create one that matches the
 * line-height applied to the body.
 */
/*.float-right {
    float: right;
    margin: $spacingSm $spacingSm;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.5)), url('/images/3guys.jpg') no-repeat !important;
                    &:hover {
                    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)), url('/images/3guys.jpg') no-repeat !important;
                }
}

.float-left {
    float: left;
    margin-right: $spacingSm;
}


.services-wrapper {
    background-color: #eeeeee;
    overflow: hidden;
    padding-bottom: 80px;
    .container {

        .special1 {
            overflow: hidden;
            padding: 0 $spacingLg;
            p {
                margin: 0;
            }
            .specialImage {
                background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.5)), url('/images/2guys.jpg') no-repeat;
                transition: transform .4s ease-out;
                transform: scale(1, 1);
                padding: 100px 100px 20px 100px;
                padding: 0 $spacingLg;
                &:hover {
                    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)), url('/images/2guys.jpg') no-repeat;
                }

                #first {
                    visibility: visible;
                    opacity: 1;
                    transition: opacity .25s ease-in-out;
                    align-self: left;
                    text-align: center;
                    position: relative;
                    top: 170px;
                    @include font-size(30px);
                    margin: 0;
                    color: white;

                    &:after {

                        content: url('/images/plus.svg');
                        position: relative;
                        bottom: 110px;
                        width: 20%;
                        display: block;
                        margin: 0 auto;
                    }
                }
                #second {
                    visibility: visible;
                    opacity: 1;
                    transition: opacity .25s ease-in-out;
                    align-self: left;
                    text-align: center;
                    position: relative;
                    top: 115px;
                    @include font-size(30px);
                    margin: 0;
                    color: white;
                    &:after {
                        content: url('/images/plus.svg');
                        position: relative;
                        bottom: 90px;
                        width: 20%;
                        display: block;
                        margin: 0 auto;
                    }
                }
                ul {
                    visibility: visible;
                    opacity: 0;
                    transition: opacity .25s ease-in-out;
                    text-align: left;
                    position: relative;
                    margin: 0 auto;
                    bottom: 50px;
                    margin-left: $spacingSm;
                    list-style-image: url(/images/check.png);
                    padding-left: 40px;
                    color: white;
                    li {
                        color: white;
                    }
                }
                @include desktop {
                    &:hover {
                        overflow: hidden;
                        #first,
                        #second {
                            visibility: hidden;
                            opacity: 0;
                        }
                        ul {
                            opacity: 1;
                        }
                    }
                }
            }

            .image2 {
                float: right;
            }
        }
    }
}
*/
/*----------------------------------------------------------------------------------------------------------------------*/
/*

.services-wrapper {
    background: rgb(241, 241, 241);
    padding: 50px 0;
    .container {
        .column-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .services-column {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                text-align: center;
                padding: 0 $spacingBase;
                h5 {
                    text-align: right;
                    padding: $spacingSm 0;
                    background: $colorBrandPrimary;
                    color: white;
                    padding-right: $spacingSm;
                    margin-bottom: $spacingSm;
                }
                #capa {
                    margin-top: $spacingLg;
                }
                ul {
                    margin: 0 $spacingBase;
                    li {
                        text-align: right;
                        list-style-type: circle;
                        line-height: 1.7rem;
                        direction: rtl;
                        
                      
                       

                    }
                }


                p {
                    text-align: left;
                    margin-top: 0;
                }
            }
        }
    }
}

@include phone {
    .services-wrapper {

        .container {
            .column-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .services-column {
                    padding-bottom: $spacingLg;
                    
                    width: 100%;
                    &:nth-child(1) {
                        padding-bottom: $spacingBase;
                    }
                    h5 {
                        text-align: left;
                        padding-left: $spacingSm;
                    }
                    ul {
                        li {
                            text-align: left;
                            direction: ltr;
                        }
                    }

                    p {
                        text-align: justify;
                    }
                }
            }
        }
    }
}

*/
/*-----------------------------------------------------------------------------------------------------------------*/
.services-wrapper {
  background: #f1f1f1;
  padding: 0 0 50px 0; }
  .services-wrapper .container hr {
    margin-bottom: 12px; }
  .services-wrapper .container .special-p {
    margin: 0;
    text-align: center;
    padding-bottom: 48px;
    font-size: 1.1rem; }
  .services-wrapper .container .list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media (min-width: 1px) and (max-width: 768px) {
      .services-wrapper .container .list-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .services-wrapper .container .list-wrapper .inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .services-wrapper .container .list-wrapper .inner .heading-wrapper h5 {
        text-align: left;
        background-color: #6699cc;
        width: 100%;
        color: white;
        padding: 12px 0 12px 12px; }
      .services-wrapper .container .list-wrapper .inner .list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
        @media (min-width: 1px) and (max-width: 768px) {
          .services-wrapper .container .list-wrapper .inner .list {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            padding: 12px 0; } }
        @media (min-width: 1px) and (max-width: 768px) {
          .services-wrapper .container .list-wrapper .inner .list ol {
            margin: 0; } }
        .services-wrapper .container .list-wrapper .inner .list ol li {
          list-style-type: circle;
          line-height: 1.5rem; }
          @media (min-width: 1px) and (max-width: 768px) {
            .services-wrapper .container .list-wrapper .inner .list ol li {
              font-size: .9rem; } }
  .services-wrapper .container .featureBlock-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 24px 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%; }
    @media (min-width: 1px) and (max-width: 768px) {
      .services-wrapper .container .featureBlock-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .services-wrapper .container .featureBlock-wrapper .featureBlock {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      padding: 0;
      width: 100%; }
      @media (min-width: 1px) and (max-width: 768px) {
        .services-wrapper .container .featureBlock-wrapper .featureBlock figure {
          display: block;
          margin: 0 auto;
          width: 100%; } }
      .services-wrapper .container .featureBlock-wrapper .featureBlock figure img {
        border-radius: 20px 20px 20px 0;
        width: 100%; }
        @media (min-width: 1px) and (max-width: 768px) {
          .services-wrapper .container .featureBlock-wrapper .featureBlock figure img {
            width: 75%; } }
      .services-wrapper .container .featureBlock-wrapper .featureBlock p {
        text-align: left;
        padding: 12px 40px 0 40px; }
        @media (min-width: 1px) and (max-width: 768px) {
          .services-wrapper .container .featureBlock-wrapper .featureBlock p {
            padding: 12px 80px 24px 80px; } }
