@import "spacingUnits";
@import "colors";
@import "fontSize";
@import "mediaQueries";

.footer {
   background: url('/images/footerbg.svg');
   background-repeat: repeat;
   background-position: center;
   background-size: cover;
   padding: 55px 0;
  
   .footer-nav {
      display: flex;
      ul {
         margin: 0;
         padding-top: $spacingSm;
         li {
            display: inline-block;
            position: relative;
            font-family: 'Ropa Sans', sans-serif;
            @include font-size(20px);
            font-weight: 400;
            color: #000;
            cursor: pointer;
            &:hover {
               color: $colorOrange;
            }
         }
         li:after {
         	content: " |";
         }
         li:last-child:after {
            content: '';
         }
      }
   }
}

@include phone {
   .footer {
      .footer-nav {
         ul {
            li {
               @include font-size(16px);
            }
         }
      }
   }
}
