@import "spacingUnits";
@import "colors";
@import "fontSize";
@import "mediaQueries";

@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

.footer {
   background: url('/images/footerbg.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding: 55px 0;
  
   .footer-nav {
      display: flex;

      ul {
         margin: 0;
         padding-top: $spacingSm;

         li {
            display: inline-block;
            position: relative;
            font-family: 'Roboto Condensed', sans-serif;
            @include font-size(20px);
            font-weight: 400;
            color: #000;
            cursor: pointer;
            &:hover {
               color: $colorOrange;
            }
         }
         li:after {
         	content: " |";
         }
         li:last-child:after {
            content: '';
         }
      }
   }
}

@include phone {
   .footer {
      .footer-nav {
         justify-content: center;
         ul {
            padding: 0;
            li {
               @include font-size(17px);
            }
         }
      }
   }
}
