@import "spacingUnits";
@import "colors";
@import "fontSize";
@import "mediaQueries";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


#header {
    background: rgba(0, 0, 0, 0.0);
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: all .5s;
    .container {
        .headerMain {
            display: flex;
            justify-content: space-between;
            padding: 0 $spacingSm;
            align-items: center;
            #logo {
                padding: 0 $spacingXSm;
            }
            #mainNav {
                .level1 {
                    display: inline-flex;
                    li {
                        padding: 35px 20px;
                        transition: all .5s;
                        list-style-type: none;
                        cursor: pointer;
                        &:hover {
                            color: orange !important;
                        }
                    }
                }
            }
            .hamburger {
                display: none;
            }
        }
    }
}



.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    .li-hook {
        padding: 8px 8px 8px 32px !important;
        list-style-type: none;
        font-size: 25px;
        color: #818181;
        display: block;
        font-family: 'Raleway', sans-serif;
        cursor: pointer;
        transition: 0.3s &:hover {
            color: #f1f1f1;
        }
    }
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;

        font-size: 25px;
        color: #818181;
        display: block;
        font-family: 'Raleway', sans-serif;
        transition: 0.3s &:hover {
            color: #f1f1f1;
        }
    }
}




@include tablet {
    #header {
        .container {
            .headerMain {
              #logo {
                h3 {
                  font-size: 1.6rem;
                }
              }
                #mainNav {
                    .level1 {
                        display: inline-flex;
                        li {
                            padding: 35px 10px;
                            color: white;
                            transition: all 1s;
                            list-style-type: none;
                            font-size: .9rem;
                            &:hover {
                                color: orange;
                            }
                        }
                    }
                }
                .hamburger {
                    display: none;
                    justify-content: flex-end;
                    align-items: center;
                    padding: $spacingLg $spacingSm;
                    img {
                        min-width: 30px;
                        max-width: 30px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}


@include phone {
    #header {
        .container {
            .headerMain {
                #mainNav {
                  display: none;
                    .level1 {
                        display: inline-flex;
                        li {
                            padding: 35px 15px;
                            color: white;
                            transition: all 1s;
                            list-style-type: none;
                            &:hover {
                                color: orange;
                            }
                        }
                    }
                }
                .hamburger {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: $spacingBase $spacingSm;
                    img {
                        min-width: 30px;
                        max-width: 30px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}