@import "spacingUnits";
@import "colors";
@import "fontSize";
@import "mediaQueries";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import "bourbon/bourbon";
@import "styles";

.contact-wrapper {
    background: url(/images/bg.gif);
    .container {

        .mapFeature {
            display: flex;
            flex-direction: column;
            width: 100%;
            @include tablet {
                flex-direction: column;
            }
            .spotLight-Heading {
                color: $colorBrandPrimaryDarker;
            }

            .formwrapper {
                flex: 0 1 50%;
                .spotlight-content {
                    .spotlight-heading {
                        padding: 0 0 $spacingSm $spacingSm;
                    }
                    p {
                        margin: 0;
                        padding: 0 0 $spacingSm $spacingSm;
                    }
                }
            }
        }

        .content-wrap {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            h2 {
                text-align: center;
            }
            .mapwrapper {
                width: 50%;
                #map {
                    width: 90%;
                    height: 400px;
                }
            }
            .map-note {
                text-align: left;
                margin: 0 auto;
                h3 {
                    @include font-size(50px);
                    color: $colorBrandPrimaryDarker;
                }
            }
        }
    }
}

@include tablet {
    .content-wrap {
        flex-direction: column-reverse;
        #map {
            width: 100%;
        }
        .mapwrapper {
            width: 100%;
        }
    }
    .map-note {
        h3 {}
        p {
            text-align: center;
        }
    }
}


@include phone {
    .content-wrap {
        #map {
            width: 100%;
        }
    }
    .map-note {
        h3 {
            padding: $spacingLg 0 0 0;
        }
        p {
            text-align: center;
        }
    }
}




.content-wrap2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    @include tablet {
        flex-direction: column;
    }
    .formFeature {
        background: white;
        
        
        width: 50%;
        order: 2;
        .container {
            .mapFeature {
                .formwrapper {
                    .spotlight-content {
                        
                        border-radius: 4px;
                        form {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-flex: 0;
                            -ms-flex: 0 1 50%;
                            flex: 0 1 50%;
                            flex-direction: row;
                            padding-left: $spacingBase;
                            .formsplit1 {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                flex-direction: column;
                                -webkit-box-flex: 0;
                                -ms-flex: 0 1 50%;
                                flex: 0 1 50%;
                            }
                            .formsplit2 {
                                display: flex;
                                flex-direction: column;
                                flex: 0 1 50%;
                            }
                            .formsplit3 {
                                display: flex;
                                flex-direction: column;
                                textarea {
                                    width: 100%;
                                }
                            }
                        }
                        form:nth-child(2) {
                            margin-bottom: $spacingLg;
                        }
                    }
                }
            }
        }
    }
    .form-note {
        order: 1;
        text-align: right;
        margin: 0 auto;
        background: url(/images/bg.gif);
        padding-top: $spacingSm;
        background: #f7f7f7;
        h3 {
            color: $colorBrandPrimaryDarker;
            @include font-size(50px);
        }
    }
}

@include tablet {
    .content-wrap2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        .formFeature {
            width: 100%;
            padding: 0 $spacingSm;
        }
        .form-note {
            padding-top: $spacingLg;
            h3 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
}

.formelement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    label {
        text-align: left;
        margin: $spacingSm 0;
        padding-right: $spacingXSm;
        padding-left: $spacingXSm;
        font-weight: 600;
        color: gray;
        font-family: 'Arial', sans-serif;
        @include font-size(20px);
    }
    input[type=text],
    select {
        width: 95%;
        padding: 5px;
        margin: 8px 0;
        border: 1px solid #d1d1d1;



        color: black;
        @include font-size(14px);
    }

    input::-webkit-input-placeholder {
        color: $colorHeading;
        @include font-size(14px);
    }

    input:-ms-input-placeholder {
        color: $colorHeading;
        @include font-size(14px);
    }

    input::placeholder {
        color: $colorHeading;
        @include font-size(14px);
    }


    input[type=submit] {
        width: 25%;
        min-width: 150px;
        background: $colorBrandPrimary;
        border: 2px solid $colorBrandPrimary;
        color: white;
        padding: 14px 20px;
        margin: $spacingBase 0;
        font-size: 20px;
        cursor: pointer;
        border-radius: 2px;
        &:hover {
            background: $colorBrandPrimaryDarker;
            color: white;
            border: 2px solid $colorBrandPrimaryDarker;
        }
    }
    textarea {
        margin: 4px 0;
        border: 1px solid #d1d1d1;
        color: black;
        @include font-size(14px);

        &:placeholder {

            @include font-size(16px);
            padding: 0 $spacingSm;
            font-family: arial;
        }
    }
}