@import "spacingUnits";
@import "colors";
@import "fontSize";
@import "mediaQueries";

/*.float-right {
    float: right;
    margin: $spacingSm $spacingSm;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.5)), url('/images/3guys.jpg') no-repeat !important;
                    &:hover {
                    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)), url('/images/3guys.jpg') no-repeat !important;
                }
}

.float-left {
    float: left;
    margin-right: $spacingSm;
}


.services-wrapper {
    background-color: #eeeeee;
    overflow: hidden;
    padding-bottom: 80px;
    .container {

        .special1 {
            overflow: hidden;
            padding: 0 $spacingLg;
            p {
                margin: 0;
            }
            .specialImage {
                background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.5)), url('/images/2guys.jpg') no-repeat;
                transition: transform .4s ease-out;
                transform: scale(1, 1);
                padding: 100px 100px 20px 100px;
                padding: 0 $spacingLg;
                &:hover {
                    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.7)), url('/images/2guys.jpg') no-repeat;
                }

                #first {
                    visibility: visible;
                    opacity: 1;
                    transition: opacity .25s ease-in-out;
                    align-self: left;
                    text-align: center;
                    position: relative;
                    top: 170px;
                    @include font-size(30px);
                    margin: 0;
                    color: white;

                    &:after {

                        content: url('/images/plus.svg');
                        position: relative;
                        bottom: 110px;
                        width: 20%;
                        display: block;
                        margin: 0 auto;
                    }
                }
                #second {
                    visibility: visible;
                    opacity: 1;
                    transition: opacity .25s ease-in-out;
                    align-self: left;
                    text-align: center;
                    position: relative;
                    top: 115px;
                    @include font-size(30px);
                    margin: 0;
                    color: white;
                    &:after {
                        content: url('/images/plus.svg');
                        position: relative;
                        bottom: 90px;
                        width: 20%;
                        display: block;
                        margin: 0 auto;
                    }
                }
                ul {
                    visibility: visible;
                    opacity: 0;
                    transition: opacity .25s ease-in-out;
                    text-align: left;
                    position: relative;
                    margin: 0 auto;
                    bottom: 50px;
                    margin-left: $spacingSm;
                    list-style-image: url(/images/check.png);
                    padding-left: 40px;
                    color: white;
                    li {
                        color: white;
                    }
                }
                @include desktop {
                    &:hover {
                        overflow: hidden;
                        #first,
                        #second {
                            visibility: hidden;
                            opacity: 0;
                        }
                        ul {
                            opacity: 1;
                        }
                    }
                }
            }

            .image2 {
                float: right;
            }
        }
    }
}
*/


/*----------------------------------------------------------------------------------------------------------------------*/
/*

.services-wrapper {
    background: rgb(241, 241, 241);
    padding: 50px 0;
    .container {
        .column-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .services-column {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                text-align: center;
                padding: 0 $spacingBase;
                h5 {
                    text-align: right;
                    padding: $spacingSm 0;
                    background: $colorBrandPrimary;
                    color: white;
                    padding-right: $spacingSm;
                    margin-bottom: $spacingSm;
                }
                #capa {
                    margin-top: $spacingLg;
                }
                ul {
                    margin: 0 $spacingBase;
                    li {
                        text-align: right;
                        list-style-type: circle;
                        line-height: 1.7rem;
                        direction: rtl;
                        
                      
                       

                    }
                }


                p {
                    text-align: left;
                    margin-top: 0;
                }
            }
        }
    }
}

@include phone {
    .services-wrapper {

        .container {
            .column-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .services-column {
                    padding-bottom: $spacingLg;
                    
                    width: 100%;
                    &:nth-child(1) {
                        padding-bottom: $spacingBase;
                    }
                    h5 {
                        text-align: left;
                        padding-left: $spacingSm;
                    }
                    ul {
                        li {
                            text-align: left;
                            direction: ltr;
                        }
                    }

                    p {
                        text-align: justify;
                    }
                }
            }
        }
    }
}

*/
/*-----------------------------------------------------------------------------------------------------------------*/

.services-wrapper {
    background: rgb(241, 241, 241);
    padding: 0 0 50px 0;
    .container {
        .services-header {

        }
        hr {
            margin-bottom: $spacingSm; 
        }
        .special-p {
            margin: 0;
            text-align: center;
            padding-bottom: $spacingLg;
            font-size: 1.1rem;
        }
        .list-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            @include phone {
                flex-direction: column;
            }
            .inner {
                display: flex;
                flex-direction: column;

                .heading-wrapper {
                    h5 {
                        text-align: left;
                        background-color: $colorBrandPrimary;
                        width: 100%;
                        color: white;
                        padding: $spacingSm 0 $spacingSm $spacingSm;
                    }
                }
                .list {
                    display: flex;
                    flex-direction: row;
                   @include phone {
                    flex-direction: column;
                    padding: $spacingSm 0;
                   }
                    ol {
                        @include phone {
                            margin: 0;
                        }
                        li {
                            list-style-type: circle;
                            line-height: 1.5rem;
                            @include phone {
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }
        .featureBlock-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: $spacingBase 0;
            align-items: flex-start;
            width: 100%;
            @include phone {
                flex-direction: column;
            }
            .featureBlock {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 0;
                width: 100%;
                figure {
                    @include phone {
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                    }
                    img {
                        border-radius: 20px 20px 20px 0;  
                        width: 100%;
                        @include phone {
                            width: 75%;
                        }
                    }
                }
                p {
                    text-align: left;
                    padding: $spacingSm 40px 0 40px;
                    @include phone {
                         
                        padding: $spacingSm 80px $spacingBase 80px;
                    }
                }
            }
        }
    }
}