@import "spacingUnits";
@import "colors";
@import "fontSize";
@import "mediaQueries";
@import "bourbon/bourbon";





.containerbg {
    /* background: linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('/images/sunset.jpg') center fixed;*/
    background: white;
    background-repeat: no-repeat;
    width: 100%;
    padding: $spacingLg 0;
    .container {
        .textblock-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .textblock-column {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0 0 0 $spacingBase;
                justify-content: center;

                hr {
                    margin: 10px 0 0 0;
                }
                img {
                    padding: $spacingSm;
                    box-shadow: 0 0 40px $colorBrandPrimary;
                    margin: 0 $spacingBase 0 0;
                    

                }
            }
        }
    }
}




@include tablet {
    .containerbg {
        .container {
            .textblock-wrapper {
                display: flex;
                flex-direction: column;
                .textblock-column {
                  width: 100%;
                  margin: 0 auto;
                  padding: 0;
                  h5 {
                    text-align: center;
                    padding: $spacingBase 0;
                  }
                  hr {
                    margin: 0 auto;
                  }
                  p {
                    text-align: justify;
                  }
                  img {
                    width: 80%;
                    margin: 0 auto;
                  }
                }
            }
        }
    }
}