/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
/*
 * Monochrome colors
 */
/*
 * Text elements
 */
/*
 * Generic border color for consistency
 */
/* FONT-SIZE
========================================================================== */
/*
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 *
 * Basically what this does is add font size (in rems) and if no line-height is declared
 * in the style you are creating, this mixin will create one that matches the
 * line-height applied to the body.
 */
/* SPACING UNITS
========================================================================== */
/*
* Try and use only these values to set typography spacing (margins) across site for consistency.
*
* $spacingBase is the same as default line height above. This value is then increased/decreased by halves.
*
* These values can be used in classes for tweaking spacing and are used in _base/helper-classes.scss
* styles for one-off use cases where an entire new class is not necessary
*/
/*
 * Headings sizes (in pixels).
 */
/*
 * Ancillary sizes (in pixels).
 */
/* ============================================================================================== */
/* ============================================================================================== */
/*
 * Monochrome colors
 */
/*
 * Text elements
 */
/*
 * Generic border color for consistency
 */
/* FONT-SIZE
========================================================================== */
/*
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 *
 * Basically what this does is add font size (in rems) and if no line-height is declared
 * in the style you are creating, this mixin will create one that matches the
 * line-height applied to the body.
 */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.two-column .left-column {
  -webkit-box-flex: 2;
  -ms-flex: 2 2 25%;
  flex: 2 2 25%;
  padding-right: 24px; }
  .two-column .left-column h5 {
    font-family: 'Roboto Condensed', sans-serif;
    letting-spacing: normal;
    margin: 0;
    color: #3f444a; }
  .two-column .left-column p {
    font-family: 'Open Sans', sans-serif;
    letting-spacing: normal;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.33333;
    color: #5c6873;
    text-align: justify; }
  .two-column .left-column ul {
    line-height: 1.42857143; }
    .two-column .left-column ul li {
      font-family: 'Roboto Condensed', sans-serif;
      letting-spacing: normal;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 1.33333;
      color: #5c6873; }
  .two-column .left-column .questionBox {
    background: url("/images/question_mark.png") no-repeat;
    background-position: right bottom;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 24px 12px; }
    .two-column .left-column .questionBox hr {
      width: 10%;
      margin-left: 0;
      border-top: 3px solid #f48c58;
      margin: 24px 0; }
    .two-column .left-column .questionBox button {
      width: 50%;
      background: -webkit-gradient(linear, left top, right top, from(#7abcff), color-stop(44%, #60abf8), to(#4096ee));
      background: linear-gradient(to right, #7abcff 0%, #60abf8 44%, #4096ee 100%);
      border: none;
      min-width: 174px;
      border-radius: 3px;
      -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
              box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75); }
      .two-column .left-column .questionBox button:hover {
        -webkit-box-shadow: 4px;
                box-shadow: 4px; }
      .two-column .left-column .questionBox button a {
        text-decoration: none; }
      .two-column .left-column .questionBox button p {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.26316;
        text-align: center;
        color: #fff;
        margin: 6px 0; }
    .two-column .left-column .questionBox p {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.26316;
      margin-right: 20%; }

.two-column .right-column {
  /*.buttonGrid1, .buttonGrid2, .buttonGrid3, .buttonGrid4 {
                     display: none;
                    }*/ }
  .two-column .right-column h2 {
    text-align: center;
    position: relative;
    z-index: -1;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    letter-spacing: 1.5px;
    color: #3f444a; }
  .two-column .right-column hr {
    width: 10%;
    border-top: 3px double #4096ee; }
  .two-column .right-column h5 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 12px 0;
    color: #fff;
    visibility: hidden; }
  .two-column .right-column h3 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1.5px;
    color: #3f444a;
    text-align: center;
    padding: 24px 0 12px 0;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 1.2; }
  .two-column .right-column p {
    margin: 0;
    padding: 0;
    text-align: center; }
  .two-column .right-column .specialWrapper {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    overflow: hidden; }
    .two-column .right-column .specialWrapper .hoverWrap {
      width: 45%;
      max-width: 400px;
      overflow: hidden;
      max-height: 320px;
      margin: 0 48px; }
    .two-column .right-column .specialWrapper .specialImage1 {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.5))), url("/images/2guys.jpg") no-repeat;
      background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.5)), url("/images/2guys.jpg") no-repeat;
      -webkit-transition: -webkit-transform .4s ease-out;
      transition: -webkit-transform .4s ease-out;
      transition: transform .4s ease-out;
      transition: transform .4s ease-out, -webkit-transform .4s ease-out;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      width: 100%; }
      @media (min-width: 1px) and (max-width: 768px) {
        .two-column .right-column .specialWrapper .specialImage1 {
          padding: 20px 0; } }
      @media (min-width: 1px) and (max-width: 1250px) {
        .two-column .right-column .specialWrapper .specialImage1 {
          padding: 20px 0; } }
      .two-column .right-column .specialWrapper .specialImage1 h5 {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
        -ms-flex-item-align: center;
            align-self: center;
        text-align: center;
        position: relative;
        top: 150px;
        font-size: 30px;
        font-size: 1.875rem;
        line-height: 1.6;
        margin: 0; }
        .two-column .right-column .specialWrapper .specialImage1 h5:after {
          content: url("/images/plus.svg");
          position: relative;
          bottom: 110px;
          width: 20%;
          display: block;
          margin: 0 auto; }
      .two-column .right-column .specialWrapper .specialImage1 ul {
        visibility: visible;
        opacity: 0;
        -webkit-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
        text-align: left;
        position: relative;
        margin: 0 auto;
        bottom: 100px;
        margin-left: 12px;
        list-style-image: url(/images/check.png);
        padding-left: 40px; }
      @media (min-width: 1250px) {
        .two-column .right-column .specialWrapper .specialImage1:hover {
          -webkit-transform: scale(1.1, 1.1);
                  transform: scale(1.1, 1.1);
          overflow: hidden;
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 115, 153, 0.7)), to(rgba(77, 115, 153, 0.7))), url("/images/2guys.jpg") no-repeat;
          background: linear-gradient(rgba(77, 115, 153, 0.7), rgba(77, 115, 153, 0.7)), url("/images/2guys.jpg") no-repeat; }
          .two-column .right-column .specialWrapper .specialImage1:hover h5 {
            visibility: hidden;
            opacity: 0; }
          .two-column .right-column .specialWrapper .specialImage1:hover ul {
            opacity: 1; } }
    .two-column .right-column .specialWrapper .specialImage2 {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.5))), url("/images/3guys.jpg") no-repeat;
      background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.5)), url("/images/3guys.jpg") no-repeat;
      -webkit-transition: -webkit-transform .4s ease-out;
      transition: -webkit-transform .4s ease-out;
      transition: transform .4s ease-out;
      transition: transform .4s ease-out, -webkit-transform .4s ease-out;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      width: 100%;
      padding-bottom: 70px; }
      @media (min-width: 1px) and (max-width: 768px) {
        .two-column .right-column .specialWrapper .specialImage2 {
          padding: 20px 0; } }
      @media (min-width: 1px) and (max-width: 1250px) {
        .two-column .right-column .specialWrapper .specialImage2 {
          padding: 20px 0; } }
      .two-column .right-column .specialWrapper .specialImage2 p {
        color: #fff; }
      .two-column .right-column .specialWrapper .specialImage2 h5 {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
        -ms-flex-item-align: center;
            align-self: center;
        text-align: center;
        position: relative;
        top: 150px;
        font-size: 30px;
        font-size: 1.875rem;
        line-height: 1.6;
        margin: 0; }
        .two-column .right-column .specialWrapper .specialImage2 h5:after {
          content: url("/images/plus.svg");
          position: relative;
          bottom: 110px;
          width: 20%;
          display: block;
          margin: 0 auto; }
      .two-column .right-column .specialWrapper .specialImage2 ul {
        visibility: visible;
        opacity: 0;
        -webkit-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
        text-align: left;
        position: relative;
        bottom: 50px;
        margin: 0 auto;
        margin-left: 12px;
        list-style-image: url(/images/check.png);
        padding-left: 40px; }
      @media (min-width: 1250px) {
        .two-column .right-column .specialWrapper .specialImage2:hover {
          -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
          overflow: hidden;
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 115, 153, 0.7)), to(rgba(77, 115, 153, 0.7))), url("/images/3guys.jpg") no-repeat;
          background: linear-gradient(rgba(77, 115, 153, 0.7), rgba(77, 115, 153, 0.7)), url("/images/3guys.jpg") no-repeat; }
          .two-column .right-column .specialWrapper .specialImage2:hover h5 {
            visibility: hidden;
            opacity: 0; }
          .two-column .right-column .specialWrapper .specialImage2:hover ul {
            opacity: 1; } }
  .two-column .right-column ul {
    line-height: 1.42857143;
    visibility: hidden; }
    .two-column .right-column ul li {
      font-family: 'Roboto Condensed', sans-serif;
      letting-spacing: normal;
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 1.6;
      color: #fff; }
  .two-column .right-column p {
    margin: 0 auto;
    text-align: justify; }
  .two-column .right-column figure {
    width: 100%;
    padding: 24px 0;
    margin: 0; }
    .two-column .right-column figure img {
      width: 100%;
      max-height: 380px; }

@media (min-width: 1px) and (max-width: 1250px) {
  .two-column .left-column {
    display: none; }
  .two-column .right-column .portfolioRow {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .two-column .right-column .buttonContainer {
    height: 800px; }
  .two-column .right-column .specialWrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .two-column .right-column .specialWrapper .hoverWrap {
      min-width: 347px; }
      .two-column .right-column .specialWrapper .hoverWrap h5 {
        display: none; }
      .two-column .right-column .specialWrapper .hoverWrap ul {
        opacity: 1;
        bottom: 0;
        margin: 0; }
    .two-column .right-column .specialWrapper .specialImage1 {
      padding-bottom: 200px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url("/images/2guys.jpg") no-repeat;
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("/images/2guys.jpg") no-repeat; }
    .two-column .right-column .specialWrapper .specialImage2 {
      padding-bottom: 200px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url("/images/3guys.jpg") no-repeat;
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("/images/3guys.jpg") no-repeat; }
  .two-column .right-column p {
    padding: 24px 48px;
    text-align: justify; } }

@media (min-width: 1px) and (max-width: 768px) {
  .two-column .right-column .buttonContainer {
    height: 1000px; }
  .two-column .right-column .specialWrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .two-column .right-column .specialWrapper .hoverWrap {
      min-width: 347px;
      margin: 12px; }
  .two-column .right-column p {
    text-align: justify;
    padding: 24px 48px; } }
