@import "bourbon/bourbon";

$colorOrange: #f48c58 !default;

$colorBrandPrimary: #6699cc !default;
$colorBrandPrimaryLight: mix(white, $colorBrandPrimary, 25%) !default;
$colorBrandPrimaryLighter: mix(white, $colorBrandPrimary, 50%) !default;
$colorBrandPrimaryLightest: mix(white, $colorBrandPrimary, 75%) !default;
$colorBrandPrimaryDark: mix(black, $colorBrandPrimary, 25%) !default;
$colorBrandPrimaryDarker: mix(black, $colorBrandPrimary, 50%) !default;
$colorBrandPrimaryDarkest: mix(black, $colorBrandPrimary, 75%) !default;

$colorBrandSecondary: adjust-hue($colorBrandPrimary, 15%) !default;
$colorBrandSecondaryLight: mix(white, $colorBrandSecondary, 25%) !default;
$colorBrandSecondaryLighter: mix(white, $colorBrandSecondary, 50%) !default;
$colorBrandSecondaryLightest: mix(white, $colorBrandSecondary, 75%) !default;
$colorBrandSecondaryDark: mix(black, $colorBrandSecondary, 25%) !default;
$colorBrandSecondaryDarker: mix(black, $colorBrandSecondary, 50%) !default;
$colorBrandSecondaryDarkest: mix(black, $colorBrandSecondary, 75%) !default;

$colorAccent: adjust-hue($colorBrandPrimary, -15%) !default;
$colorAccentLight: mix(white, $colorAccent, 25%) !default;
$colorAccentLighter: mix(white, $colorAccent, 50%) !default;
$colorAccentLightest: mix(white, $colorAccent, 75%) !default;
$colorAccentDark: mix(black, $colorAccent, 25%) !default;
$colorAccentDarker: mix(black, $colorAccent, 50%) !default;
$colorAccentDarkest: mix(black, $colorAccent, 75%) !default;

$colorHighlight: #f68932 !default; //this is a high visibility color like orange.
$colorSuccess: #42be2a !default; //this is usually a green
$colorWarning: #f9b106 !default; //this is usually a yellow or orange
$colorDanger: #e31836 !default; //this is usually a red
$colorInfo: #5bc0de !default; //this is usually a red
$colorOrange: #f48c58 !default;
$colorHeading: #3f444a !default;
$colorParagraph: #5c6873 !default;
/*
 * Monochrome colors
 */

$colorWhite: #fff !default;
$colorBlack: #000 !default;
$colorGrey: #959595 !default;
$colorGreyLight: mix(white, $colorGrey, 50%) !default;
$colorGreyLighter: mix(white, $colorGrey, 80%) !default;
$colorGreyLightest: mix(white, $colorGrey, 90%) !default;
$colorGreyDark: mix(black, $colorGrey, 25%) !default;
$colorGreyDarker: mix(black, $colorGrey, 35%) !default;
$colorGreyDarkest: mix(black, $colorGrey, 55%) !default;

/*
 * Text elements
 */

$colorText: $colorGreyDarker !default; //color overall body copy
$colorLinks: $colorBrandSecondary !default; //color basic links sitewide
$colorLinksHover: $colorHighlight !default; //color basic links hover color sitewide

/*
 * Generic border color for consistency
 */
 $colorBorder: $colorGreyLighter !default;
