@import "spacingUnits";
@import "colors";
@import "fontSize";
@import "mediaQueries";

@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

.footer {
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #6494b7;
    padding: 15px 0;

    .footer-nav {
        display: flex;
        flex-direction: column;
        ul {
            margin: 0;
            padding: $spacingSm 0 0 0;
            
            a {
               text-decoration: none;
            }
            li {
                display: inline-block;
                position: relative;
                
                
                font-weight: 400;
                color: white;
                cursor: pointer;
                background-color: #6494b7;
                &:hover {
                    color: $colorOrange;
                }
            }
            span {
                color: white;
                background-color: #6494b7;
                position: relative;
                top: 6px;
                padding: 0 $spacingXSm;
                color: $colorOrange;
               
            }
        }
        .disclaimer {
            
            min-width: 191px;
            p {
                color: white;
                
            }
        }
    }
}

@include tablet {
    .footer {
        .footer-nav {
            justify-content: center;
            ul {
                padding: 0 0 0 0;
                margin: 0 auto;
                li {
                    @include font-size(17px);
                }
            }
            .disclaimer {
                padding: 0 0 0 0;
                margin: 0 auto;
                min-width: 191px;
                p {
                    color: white;
                    
                }
            }
        }
    }
}


@include phone {
    .footer {
        .footer-nav {
            justify-content: center;
            ul {
                li {
                    @include font-size(14px);
                }
            }
            .disclaimer {
                
                min-width: 191px;
                p {
                    color: white;
                     @include font-size(14px);
                    
                }
            }
        }
    }
}


