@import "spacingUnits";
@import "colors";
@import "fontSize";
@import "mediaQueries";

.form-wrapper {
    background: rgb(241, 241, 241);
    .container {
        form {
            text-align: center;
            margin: 0;
            padding-bottom: $spacingLg;
            input {
            	padding: $spacingXSm 150px $spacingXSm $spacingSm;
            }
            textarea {
                padding: $spacingLg 200px;
            }
            input[type="submit"] {
            	padding: $spacingXSm;
            	background: none;
            	border: 1px solid black;
            	} 
        }
    }
}